/*header*/

/* font definitions */
@font-face {
    font-family: 'HaloHandletter';
    src: url('../fonts/HaloHandletter.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Adobe-Garamond-Pro-Italic';
    src: url('../fonts/Adobe-Garamond-Pro-Italic.ttf') format('truetype');
}

#toplogo {
    max-width: 120px;
}

header .title {
    font-family: HaloHandletter;
    color: #9a7d85;
    font-size: 3.8em;
    text-align: center;
    margin-top: 20px;
}

header .search {
    margin-top: 30px;
    display: inline-block;
}

.search .box {
    border: 1px solid #d8e2dc;
    font-size: 11pt;
    font-family: Montserrat-Regular;
    color: #1e1e1e;
    padding: 0 10px;
    height: 40px;
    width: 293px;
}

.search .box:focus {
    border-color: #9a7d85;
    outline: none;
}

.search .go {
    display: inline-block;
    background-color: #d8e2dc;
    border: 0;
    padding: 8px 10px 10px 9px;
}

.search .go .glyphicon-search {
    font-size: 1.6em;
    color: #9a7d85;
    vertical-align: bottom;
}

.search .go:focus {
    outline: none;
}

.links {
    margin-top: 40px;
    text-align: center;
    float: right;
}

#logged-in-links{
    margin-top: 30px;
}

.links div {
    font-size: 15px;
    font-family: Montserrat-Regular;
    display: inline-block;
    color: #9a7d85;
    padding: 0 10px;
}

.links div button {
    padding: 0;
    background: none;
    border: 0;
}

.links div a {
    color: #9a7d85;
}

.links div a:hover {
    text-decoration: none;
    color: #9a7d85;
}

#logged-in-links #num-messages {
    position: absolute;
    background: red;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 0;
    text-align: center;
    vertical-align: middle;
    width: 14px;
    border-radius: 10px;
    right: 212px;
    top: 27px;
}

#logged-in-links #num-favorites {
    position: absolute;
    background: red;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 0;
    text-align: center;
    vertical-align: middle;
    width: 14px;
    border-radius: 10px;
    right: 125px;
    top: 27px;
}

i.fa.fa-caret-down {
    color: #917d85;
}

.links .sign-in, .links .register, .links .open-shop {
    border-right: 1px solid #d8e2dc;
}

.links .cart a{
    color: #9a7d85;
}

.links .cart a:hover{
    color: #9a7d85;
}

.links a, 
.links  a:hover,
.links a:active,
.links a:link {
    color: #1e1e1e;
    text-decoration: none;
}

.under-text {
    display: block;
}

.links div.logged-in {
    font-size: 20px;
}

.links div.logged-in span {
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    #header-container {
        text-align: center;
    }
    .links {
        float: none;
        margin-top: 20px;
    }
    /*Messages and Favorites counters*/
    #num-messages, #num-favorites {
        display: none;
    }
}

/* navbar */
.navbar-default {
    background-color: #D8E2DC;
    border: none;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
}

.navbar li {
    font-size: 16px;
    padding: 0 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #1E1E1E;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dropdown-menu {
    min-width: 250px;
}

@media only screen and (max-width: 1206px) {
    .navbar li {
        font-size: 12px;
        padding: 0 7px;
    }
}

@media only screen and (max-width: 908px) {
    .navbar li {
        font-size: 11px;
        padding: 0;
    }
}

/* Fix navbar horizontal scroll */
@media only screen and (max-width: 800px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
    }
}


/*Container-fluid*/
.container-fluid {
    padding: 0;
}
