 <!-- FOOTER -->
 <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>ABOUT US</li>
              <li>TERMS & CONDITIONS</li>
              <li>PRIVACY POLICY</li>
              <li>SITE MAP</li>
              <li>ADVANCED SEARCH</li>
              <li>ARTYAH COMMUNITY FORUM</li>
            </ul>
          </div>
          <div class="col-md-6">
          <ul>
            <li>OPEN SHOP</li>
            <li>FAQ</li>
            <li>CONTACT US</li>
            <li>UPDATES</li>
            <li>FOR SELLERS</li>
            <li>GOOGLE+ FORUM</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <!-- AddThis Button BEGIN -->
        <div class="social-icons">
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
          </div>
        </div>
        <!-- AddThis Button END -->
      </div>
      <div class="footer-logo-div">
        <img src="assets/images/crest_logo.png" id="logo-footer">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="bbb_dynamic">
          <a target="_blank" title="Click for the Business Review of Artyah.com, an Online Retailer in Applegate CA" href="https://www.bbb.org/sacramento/business-reviews/online-retailer/artyah-com-in-applegate-ca-90037198#sealclick"><img alt="Click for the BBB Business Review of this Online Retailer in Applegate CA" style="border: 0;" src="https://seal-Necal.bbb.org/seals/blue-seal-250-52-artyahcom-90037198.png" /></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="copyright">
          &copy; 2015-2017 ArtYah. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>